<%= simple_form_for @book_ticket do |f| %>

    <%= f.input :spot_id, :as => :hidden  %>
    <%= f.input :ticket_id, :as => :hidden %>
    <%= f.input :child_sale_price, :as => :hidden %>
    <%= f.input :child_purchase_price, :as => :hidden %>
    <%= f.input :adult_sale_price, :as => :hidden %>
    <%= f.input :adult_purchase_price, :as => :hidden %>
    <%= f.input :adult_price, :as => :hidden %>
    <%= f.input :child_price, :as => :hidden %>
    <%= f.input :date, :as => :hidden %>
    <div class="right75">景区 <%= f.object.spot.name %></div>
    <div class="right75">门票 <%= f.object.ticket.name %></div>
    <div class="right75">日期 <%= f.object.date %></div>
    <%= f.association :city, :collection => @agent_price.spot.cities %>
    <%= f.input :adult_ticket_number, :as => :integer %>
    <%= f.input :child_ticket_number, :as => :integer %>
    <%= f.input :is_team, :as => :hidden %>
    <%= f.input :linkman %>
    <%= f.input :linktel %>
    <%= f.submit %>
<% end %>
