<%= simple_form_for @book_ticket do |f| %>

    <%= f.association :spot, :collection => Spot.connected_by_agent(@book_ticket.agent_id) %>
    <%= f.association :city %>
    <%= f.association :ticket %>
    <%= f.input :child_ticket_number, :as => :integer %>
    <%= f.input :adult_ticket_number, :as => :integer %>
    <%= f.input :is_team, :as => :hidden %>
    <div class="fields right75">
    订票日期 <%= f.text_field :date,{:class=>"book_datepicker"}%>
    </div> <br/>
    <%= f.input :linkman %>
    <%= f.input :linktel %>
    <%= f.submit %>
<% end %>
