<% title "Book Ticket" %>

<p>
  <strong>Agent:</strong>
  <%= @book_ticket.agent_id %>
</p>
<p>
  <strong>Spot:</strong>
  <%= @book_ticket.spot_id %>
</p>
<p>
  <strong>City:</strong>
  <%= @book_ticket.city_id %>
</p>
<p>
  <strong>Child Ticket Number:</strong>
  <%= @book_ticket.child_ticket_number %>
</p>
<p>
  <strong>Adult Ticket Number:</strong>
  <%= @book_ticket.adult_ticket_number %>
</p>
<p>
  <strong>Date:</strong>
  <%= @book_ticket.date %>
</p>
<p>
  <strong>Is Team:</strong>
  <%= @book_ticket.is_team %>
</p>
<p>
  <strong>Linkman:</strong>
  <%= @book_ticket.linkman %>
</p>
<p>
  <strong>Linktel:</strong>
  <%= @book_ticket.linktel %>
</p>

<p>
  <%= link_to "Edit", edit_book_ticket_path(@book_ticket) %> |
  <%= link_to "Destroy", @book_ticket, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", book_tickets_path %>
</p>
