<%= simple_form_for @season,:html => {:novalidate => true} do |f| %>
      <%= f.input :name %>
    <%= f.simple_fields_for :timespans do |tf| %>
        <%= render 'timespan_fields', :tf => tf %>
    <% end %>
    <div class="add_timespan"><%= link_to_add_fields "新增时间段", f, :timespans %></div>
    <%= f.submit %>
<% end %>
