<% title "淡旺季" %>

<table>
  <tr>
    <th width="20%">名称</th>
    <th width="50%">时间段</th>
    <th width="30%" colspan="3">操作</th>
  </tr>
  <% for season in @seasons %>
      <tr>
        <td><%= season.name %></td>
        <td>
          <% season.timespans.each do |timespan| %>
              <%= timespan.from_date %>----<%= timespan.to_date %>
              <br/>
          <% end %>
        </td>
        <td><%= link_to "修改", edit_season_path(season) %></td>
        <td><%= link_to "删除", season, :confirm => '你确认删除吗?', :method => :delete %></td>
      </tr>
  <% end %>
</table>

<%= link_to "新建淡旺季", new_season_path %>

