<% title "淡旺季" %>

<%= button_to_link "新建淡旺季", new_season_path, :class=> "new_button"%>

<table>
  <tr>
    <th width="20%">名称</th>
    <th width="50%">时间段</th>
    <th width="30%">操作</th>
  </tr>
  <% for season in @seasons %>
      <tr class=<%= cycle("even", "odd") %>>
        <td><%= season.name %></td>
        <td>
          <% season.timespans.each do |timespan| %>
              <%= timespan.from_date %>----<%= timespan.to_date %>
              <br/>
          <% end %>
        </td>
        <td><%= link_to "修改", edit_season_path(season) %>
          <%= link_to "删除", season, :confirm => '删除后再添加淡旺季将需要重新设置门市价及旅行社价格，确认删除吗?', :method => :delete %>
        </td>
      </tr>
  <% end %>
</table>



