<% title "结算列表" %>

<div id="search">
  <%= form_tag agent_purchases_path, :method => :get do %>
      <fieldset class="inputs">
        <table class="search_table">
          <tr>
            <td>景区名称
              <%= text_field_tag :spot_name, params[:spot_name] %>
            </td>
            <td>旅行社名称
              <%= text_field_tag :agent_name, params[:agent_name] %>
            </td>
            <td rowspan="2">
              <fieldset class="buttons">
                <%= submit_tag "查询" %>
              </fieldset>
            </td>
          </tr>
          <tr>
            <td>入园截止日期
              <%= text_field_tag :date, params[:date], :class=>"maxdate_datepicker" %>
			</td>
            <td></td>
          </tr>
        </table>
      </fieldset>

  <% end %>
</div>

<table>
  <tr>
    <th>景区名称</th>
    <th>旅行社名称</th>
    <th>门票种类</th>
    <th>支付方式</th>
    <th>总订单数</th>
    <th>应收应付</th>
    <th>金额</th>
    <th>操作</th>
  </tr>
  <% for item in @table %>
      <tr class=<%= cycle("even", "odd") %>>
        <td><%= item.spot_name %></td>
        <td><%= item.agent_name %></td>
        <td><%= show_reservation_type_with(item.type) %></td>
        <td><%= show_payment_method(item.payment_method) %>  </td>
        <td><%= item.count_sum %></td>
        <td><%= "旅行社" + show_in_or_out_for_agent(item) %> </td>
        <td><%= item.price_sum.to_i %></td>
        <td><%= link_to "查看", reservations_all_purchases_path(:spot_id => item.spot_id, :agent_id => item.agent_id, :type => item.type, :payment_method => item.payment_method, :date => @date, :spot_name => @spot_name, :agent_name=> @agent_name) %></td>
      </tr>
  <% end %>
</table>
