<% title "景区列表" %>
<div id="search">
  <%= simple_form_for @search do |f| %>
      <fieldset class="inputs">
        <%= f.input :name_contains, :label => "景区名称", :required => false %>
        <%= f.input :cities_name_contains, :label => "城市名", :required => false %>
        <%= f.input :disabled_eq, :collection => [[false, "正常"], [true, "已禁用"]],
                    :label_method => :last, :value_method => :first,
                    :as => :select, :label => "状态", :required => false, :include_blank => false %>
      </fieldset>
      <fieldset class="buttons">
        <%= f.button :submit, :value => "查询" %>
      </fieldset>
  <% end %>
</div>
<%= paginate @spots %>
<table>
  <tr>
    <th>名称</th>
    <th>编码</th>
    <th>所在城市</th>
    <th>管理员姓名</th>
    <th>管理员用户名</th>
    <th>管理员邮箱</th>
    <th>状态</th>
    <th></th>
  </tr>
  <% for spot in @spots %>
      <tr>
        <td><%= spot.name %></td>
        <td><%= spot.code %></td>
        <td> <%= spot.cities.map(&:name).join(",") %>  </td>
        <td><%= spot.admin.name %></td>
        <td><%= spot.admin.username %></td>
        <td><%= spot.admin.email %></td>
        <td><%= spot.disabled? ? "已禁用" : "正常" %></td>
        <td><%= link_to "查看", spot %></td>
        <td><%= link_to "修改", edit_spot_path(spot) %></td>
      </tr>
  <% end %>
</table>

<p><%= link_to "新建景区", new_spot_path %></p>
