<% title "景区列表" %>

<table>
  <tr>
    <th>名称</th>
    <th>编码</th>
    <th>描述</th>
  </tr>
  <% for spot in @spots %>
    <tr>
      <td><%= spot.name %></td>
      <td><%= spot.code %></td>
      <td><%= spot.description %></td>
      <td><%= link_to "查看", spot %></td>
      <td><%= link_to "修改", edit_spot_path(spot) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "新建景区", new_spot_path %></p>
