<% title "景区列表" %>
<div id="search">
  <%= form_for @search do |f| %>
      <div>
        景区名称:<%= f.text_field :name_contains %>
      </div>

      <div>
        所在城市:<%= f.text_field :cities_name_contains %>
      </div>

      <div>
        状态:<%= f.select :disabled_eq, [["正常", false], ["已禁用", true]] %>
      </div>

      <%= f.submit("查询") %>

  <% end %>
</div>
<%= paginate @spots %>
<table>
  <tr>
    <th>名称</th>
    <th>编码</th>
    <th>所在城市</th>
    <th>管理员姓名</th>
    <th>管理员用户名</th>
    <th>管理员邮箱</th>
    <th>状态</th>
  </tr>
  <% for spot in @spots %>
      <tr>
        <td><%= spot.name %></td>
        <td><%= spot.code %></td>
        <td> <%= spot.cities.map(&:name).join(",") %>  </td>
        <td><%= spot.admin.name %></td>
        <td><%= spot.admin.username %></td>
        <td><%= spot.admin.email %></td>
        <td><%= spot.disabled? ? "已禁用" : "正常" %></td>
        <td><%= link_to "查看", spot %></td>
        <td><%= link_to "修改", edit_spot_path(spot) %></td>
      </tr>
  <% end %>
</table>

<p><%= link_to "新建景区", new_spot_path %></p>
