<% title "景区" %>

<table class="newtable">
  <tr>
    <td class="textright">景区名称</td>
    <td class="textleft"><%= @spot.name %> </td>
    <td class="textright">景区编码</td>
    <td class="textleft"><%= @spot.code %></td>
  </tr>

  <tr>
    <td class="textright">市场部联系人</td>
    <td class="textleft"><%= @spot.business_contact %></td>
    <td class="textright">市场部联系方式</td>
    <td class="textleft"><%= @spot.business_phone %></td>
  </tr>

  <tr>
    <td class="textright">财务部联系人</td>
    <td class="textleft"><%= @spot.finance_contact %></td>
    <td class="textright">财务部联系方式</td>
    <td class="textleft"><%= @spot.finance_phone %></td>
  </tr>

  <tr>
    <td class="textright">地址</td>
    <td class="textleft"><%= @spot.address %></td>
    <td class="textright">所在城市</td>
    <td class="textleft"><%= @spot.city_names %></td>
  </tr>

  <tr>
    <td class="textright">交通信息</td>
    <td class="textleft" colspan="3"><%= @spot.traffic %></td>

  </tr>

  <tr>

    <td class="textright">描述</td>
    <td class="textleft" colspan="3"> <%= @spot.description %></td>
  </tr>


  <tr>
    <td class="textright">管理员用户名</td>
    <td class="textleft"><%= @spot.admin.username %> </td>
    <td class="textright">管理员姓名</td>
    <td class="textleft"><%= @spot.admin.name %></td>
  </tr>

  <tr>
    <td class="textright">管理员邮箱</td>
    <td class="textleft"><%= @spot.admin.email %></td>
    <td class="textright"></td>
    <td class="textleft"></td>
  </tr>


</table>

<table class="formtable01">
  <tr class="formtable01">
    <td class="formtable01" style="text-align:center; ">
      <%= button_to "修改", edit_spot_path(@spot), {:class=> "btn", :style=> "float:none;", :method => :get} %>
      <%= button_to "景区列表", spots_path , {:class=> "btn", :style=> "float:none;", :method => :get}%>
      <%= button_to "返回", "#", :class=> "btn", :style=> "float:none;", :onclick => "history.back(); return false;" %>
    </td>

  </tr>
</table>


