<% title "景区" %>

<p>
  <strong>景区名称:</strong>
  <%= @spot.name %>
</p>
<p>
  <strong>景区编码:</strong>
  <%= @spot.code %>
</p>
<p>
  <strong>所在城市:</strong>
  <%= @spot.cities.map(&:name).join(",") %>
</p>
<p>
  <strong>描述:</strong>
  <%= @spot.description %>
</p>
<p>
  <strong>管理员姓名:</strong>
  <%= @spot.admin.name %>
</p>
<p>
  <strong>管理员用户名:</strong>
  <%= @spot.admin.username %>
</p>
<p>
  <strong>管理员邮箱:</strong>
  <%= @spot.admin.email %>
</p>


<p>
  <%= link_to "修改", edit_spot_path(@spot) %> |
  <%= link_to "景区列表", spots_path %>
</p>
