<% title "景区" %>

<table class="show_table">
  <tr>
    <td class="textright">景区名称</td>
    <td class="textleft"><%= @spot.name %> </td>
    <td class="textright">景区编码</td>
    <td class="textleft"><%= @spot.code %></td>
  </tr>

  <tr>
    <td class="textright">市场部联系人</td>
    <td class="textleft"><%= @spot.business_contact %></td>
    <td class="textright">市场部联系方式</td>
    <td class="textleft"><%= @spot.business_phone %></td>
  </tr>

  <tr>
    <td class="textright">财务部联系人</td>
    <td class="textleft"><%= @spot.finance_contact %></td>
    <td class="textright">财务部联系方式</td>
    <td class="textleft"><%= @spot.finance_phone %></td>
  </tr>

  <tr>
    <td class="textright">地址</td>
    <td class="textleft"><%= @spot.address %></td>
    <td class="textright">所在城市</td>
    <td class="textleft"><%= @spot.city_names %></td>
  </tr>

  <tr>
    <td class="textright">交通信息</td>
    <td class="textleft" colspan="3"><%= @spot.traffic %></td>

  </tr>

  <tr>

    <td class="textright">描述</td>
    <td class="textleft" colspan="3"> <%= @spot.description %></td>
  </tr>


  <tr>
    <td class="textright">管理员用户名</td>
    <td class="textleft"><%= @spot.admin.username %> </td>
    <td class="textright">管理员姓名</td>
    <td class="textleft"><%= @spot.admin.name %></td>
  </tr>

  <tr>
    <td class="textright">管理员邮箱</td>
    <td class="textleft"><%= @spot.admin.email %></td>
    <td class="textright">支付宝合作者ID</td>
    <td class="textleft"><%= @spot.account %></td>
  </tr>
  <tr>
    <td class="textright">支付宝安全校验码</td>
    <td class="textleft"><%= @spot.key %></td>
    <td class="textright">支付宝卖家Email</td>
    <td class="textleft"><%= @spot.email %></td>
  </tr>


</table>

<div class="bottom_links">
  <%= button_to_link "修改", edit_spot_path(@spot) %>
  <%= button_to_link "景区列表", spots_path %>
  <%= back_button %>
</div>


