共找到<%= @reservations.total_count %>条记录
<%= paginate @reservations %>
<table>
  <tr>
    <th>订单号</th>
    <th>旅行社</th>
    <th>门票</th>
    <th>日期</th>
    <th>种类</th>
    <th>成人价</th>
    <th>儿童价</th>
    <th>成人票数量</th>
    <th>儿童票数量</th>
    <th>总价</th>
    <th>联系人</th>
    <th>联系电话</th>
    <th>预定日期</th>
    <th>操作</th>
  </tr>
  <% for reservation in @reservations %>
      <tr id="reservation<%= reservation.id %>_row">

        <td><%= reservation.no %></td>
        <td><%= reservation.agent.name %></td>
        <td><%= reservation.ticket_name %></td>
        <td> <%= reservation.date %>  </td>
        <td> <%= show_reservation_type(reservation) %></td>
        <td> <%= show_reservation_adult_price(reservation) %> </td>
        <td> <%= show_reservation_child_price(reservation) %></td>
        <td><%= reservation.adult_ticket_number %></td>
        <td><%= reservation.child_ticket_number %></td>
        <td><%= show_reservation_total_price(reservation) %></td>
        <td><%= reservation.contact %></td>
        <td><%= reservation.phone %></td>
        <td><%= date_format(reservation.created_at) %></td>
        <td><%= link_to "入园", edit_spot_reservation_path(reservation) %></td>
      </tr>
  <% end %>
  </table>