<% title "入园" %>

<%= simple_form_for @reservation, :url =>spot_reservation_path, :id => "edit_reservation" do |f| %>
    <fieldset class="inputs">
      <%= f.input :child_sale_price, :as => :hidden %>
      <%= f.input :child_purchase_price, :as => :hidden %>
      <%= f.input :adult_sale_price, :as => :hidden %>
      <%= f.input :adult_purchase_price, :as => :hidden %>
      <%= f.input :child_price, :as => :hidden %>
      <%= f.input :adult_price, :as => :hidden %>
      <div class="input string required"><label>订单号</label><%= f.object.no %></div>
      <div class="input string required"><label>门票</label> <%= f.object.ticket_name %></div>
      <div class="input string required"><label>日期</label> <%= f.object.date %></div>
      <div class="input string required"><label>联系人</label> <%= f.object.contact %></div>
      <div class="input string required"><label>联系方式</label> <%= f.object.phone %></div>
      <div class="input string required"><label>成人价</label> <%= show_reservation_adult_price(@reservation) %></div>
      <div class="input string required"><label>订票成人数量</label> <%= f.object.adult_ticket_number %></div>
      <% if  f.object.can_book_child_ticket? %>
          <div class="input string required"><label>儿童价</label> <%= show_reservation_child_price(@reservation) %></div>
          <div class="input string required"><label>订票儿童数量</label> <%= f.object.child_ticket_number %></div>
      <% end %>
      <%= f.input :adult_true_ticket_number, :as => :integer, :required => :true %>
      <% if  f.object.can_book_child_ticket? %>
          <%= f.input :child_true_ticket_number, :as => :integer, :required => :true %>
      <% end %>
      <div class="input string required"><label>总价</label>
        <span id="total_price_text"><%= f.object.total_price %></span>
      </div>
      <div class="input string required"><label>备注</label>
        <span><%= f.object.note.blank? ? "无" : f.object.note%></span>
      </div>
      <div class="input string required"><label>支付方式</label> <%= show_reservation_payment_method(@reservation) %></div>
      <div class="input string required"><label>支付状态</label> <%= show_reservation_paid(@reservation) %></div>
    </fieldset>
    <fieldset class="buttons">
      <%= f.button :submit, "入园" %>
    </fieldset>
<% end %>
