<% title "订单列表" %>

<div id="search">
  <%= simple_form_for @search, :url => spot_reservations_path do |f| %>
      <fieldset class="inputs">
        <%= f.input :no_contains, :label => "订单号", :required => false %>
        <%= f.input :ticket_name_contains, :label => "门票种类", :required => false %>
        <%= f.input :agent_name_contains, :label => "旅行社名称", :required => false %>
        <%= f.input :date_greater_than_or_equal_to, :label => "入园起始日期", :required => false, :input_html => {:class =>'reservation_datepicker'} %>
        <%= f.input :date_less_than_or_equal_to, :label => "入园结束日期", :required => false, :input_html => {:class =>'reservation_datepicker'} %>
        <%= f.input :created_at_greater_than_or_equal_to, :label => "预定起始日期", :required => false, :input_html => {:class =>'reservation_datepicker'} %>
        <%= f.input :created_at_less_than_or_equal_to, :label => "预定结束日期", :required => false, :input_html => {:class =>'reservation_datepicker'} %>
        <%= f.input :contact_contains, :label => "联系人", :required => false %>
        <%= f.input :phone_contains, :label => "联系电话", :required => false %>
        <%= f.input :with_status, :collection => [["","全部"],["confirmed", "已确认"], ["canceled", "已取消"],["checkedin", "已入园"],["outdated", "已过期"]],
                    :label_method => :last, :value_method => :first,
                    :as => :select, :label => "状态", :required => false, :include_blank => false %>
      </fieldset>
      <fieldset class="buttons">
        <%= f.button :submit, :value => "查询" %>
      </fieldset>
  <% end %>
</div>

共找到<%= @reservations.total_count %>条记录
<%= paginate @reservations %>
<table>
  <tr>
    <th>订单号</th>
    <th>旅行社</th>
    <th>门票</th>
    <th>日期</th>
    <th>种类</th>
    <th>成人价(销售价/(结算价))</th>
    <th>儿童价(销售价/(结算价))</th>
    <th>成人票数量</th>
    <th>儿童票数量</th>
    <th>总价(销售价/(结算价))</th>
    <th>支付方式</th>
    <th>联系人</th>
    <th>联系电话</th>
    <th>预定日期</th>
    <th>状态</th>
  </tr>
  <% for reservation in @reservations %>
      <tr id="reservation<%= reservation.id %>_row">
        <td><%= link_to reservation.no, spot_reservation_path(reservation) %></td>
        <td><%= reservation.agent.name %></td>
        <td><%= reservation.ticket_name %></td>
        <td> <%= reservation.date %>  </td>
        <td> <%= show_reservation_type(reservation) %></td>
        <td> <%= show_reservation_adult_price(reservation) %> </td>
        <td> <%= show_reservation_child_price(reservation) %></td>
        <td><%= reservation.adult_ticket_number %></td>
        <td><%= reservation.child_ticket_number %></td>
        <td><%= show_reservation_total_price(reservation) %></td>
        <td><%= show_reservation_payment_method(reservation) %></td>
        <td><%= reservation.contact %></td>
        <td><%= reservation.phone %></td>
        <td><%= date_format(reservation.created_at) %></td>
        <td><%= reservation.status_name %></td>
      </tr>
  <% end %>
</table>
