<% title "#{@reservation.agent.name}订单明细" %>

<table class="show_table">
  <tr>
    <td class="textright">订单号</td>
    <td class="textleft"><%= @reservation.no %> </td>
    <td class="textright">团号</td>
    <td class="textleft"><%= @reservation.group_no %></td>
  </tr>

  <tr>
    <td class="textright">旅行社名称</td>
    <td class="textleft"><%= @reservation.agent.name %></td>
    <td class="textright">门票</td>
    <td class="textleft"><%= @reservation.ticket_name %></td>
  </tr>

  <tr>
    <td class="textright">种类</td>
    <td class="textleft"> <%= show_reservation_type(@reservation) %></td>
    <td class="textright">日期</td>
    <td class="textleft"><%= @reservation.date %></td>
  </tr>

  <tr>
    <td class="textright">预订日期</td>
    <td class="textleft"><%= date_format(@reservation.created_at) %></td>
    <td class="textright">状态</td>
    <td class="textleft"> <%= @reservation.status_name %></td>
  </tr>

  <tr>
    <td class="textright">成人价格(销售价/(结算价))</td>
    <td class="textleft"> <%= show_reservation_adult_price(@reservation) %></td>
    <td class="textright">儿童价格(销售价/(结算价))</td>
    <td class="textleft"> <%= show_reservation_child_price(@reservation) %></td>
  </tr>


  <tr>
    <td class="textright">成人票数量</td>
    <td class="textleft"><%= @reservation.adult_ticket_number %> </td>
    <td class="textright">儿童票数量</td>
    <td class="textleft"><%= @reservation.child_ticket_number %></td>
  </tr>

  <tr>
    <td class="textright">成人票实际数量</td>
    <td class="textleft"><%= @reservation.adult_true_ticket_number %></td>
    <td class="textright">儿童票实际数量</td>
    <td class="textleft"> <%= @reservation.child_true_ticket_number %></td>
  </tr>

  <tr>
    <td class="textright">总价(销售价/(结算价))</td>
    <td class="textleft"><%= show_reservation_total_price(@reservation) %></td>
    <td class="textright">支付方式</td>
    <td class="textleft"><%= show_reservation_payment_method(@reservation) %></td>
  </tr>

  <tr>
    <td class="textright">联系人</td>
    <td class="textleft"> <%= @reservation.contact %></td>
    <td class="textright">联系方式</td>
    <td class="textleft"><%= @reservation.phone %></td>
  </tr>

  <tr>
    <td class="textright">备注</td>
    <td colspan="3" class="textleft"><%= @reservation.note %></td>
  </tr>

</table>

<div class="bottom_links">
  <%= button_to_link "返回列表", spot_reservations_path %>
  <%= print_button %>
</div>


