<!DOCTYPE html>

<html>
<head>
  <title>景区网络营销系统</title>
  <%= stylesheet_link_tag :flutie, 'login', :media => 'screen' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container">
  <div id="main">
    <h1>景区网络营销系统</h1>
    <% flash.each do |name, msg| %>
        <div class="flash <%= name %>"><%= msg %></div>
    <% end %>
    <%= form_tag sessions_path, :class => "simple_form" do %>
        <fieldset class="inputs">
          <div class="input string">
            <label>用户名:</label>
            <%= text_field_tag :login, params[:login] %>
          </div>
          <div>
            <label>密码:</label>
            <%= password_field_tag :password %>
          </div>

        <div class="hint">如果您是旅行社，还没有帐户?<%= link_to "注册!", new_agent_path %></div>
        <div class="buttons">
          <%= submit_tag "登陆" %>
        </div>
        </fieldset>
    <% end %>
    </div>
</div>
</body>
</html>

