<% title "结算历史" %>

<div id="search">
  <%= simple_form_for @search, :url =>purchase_histories_path do |f| %>
      <fieldset class="inputs">
        <table class="search_table">
          <tr>
            <td><%= f.input :agent_name_contains, :label => "旅行社", :required => false %></td>
            <td><%= f.input :payment_method_eq, :label => "支付方式", :required => false,
                            :collection => [["poa", "门口现付"], ["prepay", "挂帐"],["预付","net"]], :label_method => :last,
                            :value_method => :first, :required => false %></td>
            <td>
              <fieldset class="buttons">
                <%= f.button :submit, :value => "查询" %>
              </fieldset>
            </td>
          </tr>
          <tr>
            <td><%= f.input :from_spot, :collection => [[true, "应付"], [false, "应收"]],
                            :label_method => :last, :value_method => :first,
                            :as => :select, :label => "应收应付", :required => false %>
            </td>
            <td>
              <%= f.input :user_contains, :label=> "结算人员", :required => false %>
            </td>
          </tr>
        </table>
      </fieldset>
  <% end %>
</div>

<div class="result_count">共找到<%= @purchase_histories.total_count %>条记录</div>

<%= paginate @purchase_histories %>
<table>
  <tr>
    <th>旅行社</th>
    <th>门票种类</th>
    <th>结算方式</th>
    <th>应收应付</th>
    <th>总价</th>
    <th>结算日期</th>
    <th>结算用户</th>
    <th>操作</th>
  </tr>
  <% for history in @purchase_histories %>
      <tr id="history<%= history.id %>_row" class=<%= cycle("even", "odd") %>>
        <td><%= history.agent.name %>  </td>
        <td><%= history.ticket_type %></td>
        <td><%= show_payment_method(history.payment_method) %></td>
        <td><%= history.in_out_for_spot %></td>
        <td><%= history.price %></td>
        <td><%= history.purchase_date %></td>
        <td><%= history.user %></td>
        <td><%= link_to "查看", purchase_history_path(history) %></td>
      </tr>
  <% end %>
</table>

