<% title "可预订景区列表" %>

<div id="search">
  <%= simple_form_for @search, :url => agent_rfps_path do |f| %>
      <fieldset class="inputs">
        <table class="search_table">
          <tr>
            <td><%= f.input :spot_name_contains, :label => "景区名称", :required => false %></td>
            <td><%= f.input :spot_cities_name_contains, :label => "城市名", :required => false, :input_html => {:id => "city_id"} %></td>
            <td>
              <fieldset class="buttons">
                <%= f.button :submit, :value => "查询" %>
              </fieldset>
            </td>
          </tr>
        </table>
      </fieldset>
  <% end %>
</div>

<%= button_to_link "查询未开通预订景区", agent_spots_path, :class=> "new_button"%>


<div class="result_count">共找到<%= @rfps.total_count %>条记录</div>

<%= paginate @rfps %>

<table>
  <tr>
    <th>景区</th>
    <th>编码</th>
    <th>所在城市</th>
    <th>市场联系人</th>
    <th>市场联系方式</th>
    <th>财务联系人</th>
    <th>财务联系方式</th>
    <th>散客票支付方式</th>
    <th>团队票支付方式</th>
    <th>操作</th>
  </tr>
  <% for rfp in @rfps %>
      <tr class=<%= cycle("even", "odd") %>>
        <td><%= link_to rfp.spot.name, agent_spot_path(rfp.spot) %></td>
        <td><%= rfp.spot.code %></td>
        <td> <%= rfp.spot.city_names %>  </td>
        <td><%= rfp.spot.business_contact %></td>
        <td><%= rfp.spot.business_phone %></td>
        <td><%= rfp.spot.finance_contact %></td>
        <td><%= rfp.spot.finance_phone %></td>
        <td><%= show_payment_method(rfp.individual_payment_method) %></td>
        <td><%= show_payment_method(rfp.team_payment_method) %></td>
        <td><%= link_to "预订", new_reservation_path(:spot_name => rfp.spot.name) %></td>
      </tr>
  <% end %>
</table>

