<% title "Agent Price" %>

<p>
  <strong>Spot:</strong>
  <%= @agent_price.spot_id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @agent_price.name %>
</p>

<p>
  <%= link_to "Edit", edit_agent_price_path(@agent_price) %> |
  <%= link_to "Destroy", @agent_price, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", agent_prices_path %>
</p>
