<%= form_for @user, :url => (@user.new_record? ? users_path : user_path(@user)) do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :username %><br/>
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.label :name %> <br/>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :email %><br/>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :password %><br/>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation, "重复密码" %><br/>
      <%= f.password_field :password_confirmation %>
    </p>
    <p><%= f.submit (@user.new_record? ? "注册" : "更新") %></p>
<% end %>
