<% title "用户列表" %>

<div id="search">
  <%= simple_form_for @search, :url =>users_path do |f| %>
      <fieldset class="inputs">
        <table style="border:none;">
          <tr style="border:none;">
            <td><%= f.input :username_contains, :label => "用户名", :required => false %></td>
            <td><%= f.input :name_contains, :label => "姓名", :required => false %></td>
            <td>
              <fieldset class="buttons">
                <%= f.button :submit, :value => "查询" %>
              </fieldset>
            </td>
          </tr>
        </table>
      </fieldset>
  <% end %>
</div>

<table class="formtable01">
  <tr class="formtable01">
    <td class="formtable01" style="text-align:right; ">
      <%= button_to "新建用户", new_user_path, {:class=> "btn", :style=>"float:none;", :method => :get} %></td>
  </tr>
</table>

<table class="formtable">
  <tr class="formtable">
    <td class="formtable">共找到<%= @users.total_count %>条记录</td>
  </tr>
</table>

<%= paginate @users %>
<table>
  <tr>
    <th>用户名</th>
    <th>姓名</th>
    <th>角色</th>
    <th>邮箱</th>
    <th>操作</th>
  </tr>
  <% for user in @users %>
      <tr id="user<%= user.username %>_row" class=<%= cycle("trwrite", "trgray") %>>
        <td><%= user.username %></td>
        <td><%= user.name %></td>
        <td><%= user.role.name %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to "查看", user_path(user) %>
          <%= link_to "修改", edit_user_path(user) %>
        </td>
      </tr>
  <% end %>
</table>

