<% title "旅行社" %>

<p>
  <strong>名称:</strong>
  <%= @agent.name %>
</p>
<p>
  <strong>描述:</strong>
  <%= @agent.description %>
</p>
<p>
  <strong>状态:</strong>
  <%= show_disabled(@agent.disabled?) %>
</p>
<p>
  <strong>操作员姓名:</strong>
  <%= @agent.operator.name %>
</p>
<p>
  <strong>操作员用户名:</strong>
  <%= @agent.operator.username %>
</p>
<p>
  <strong>操作员邮箱:</strong>
  <%= @agent.operator.email %>
</p>
<p>
  <%= link_to "修改", edit_agent_path(@agent) %> |
  <%= link_to "旅行社列表", agents_path %>
</p>
