<% title "旅行社" %>

<p>
  <strong>名称:</strong>
  <%= @agent.name %>
</p>
<p>
  <strong>地址:</strong>
  <%= @agent.address %>
</p>
<p>
  <strong>描述:</strong>
  <%= @agent.description %>
</p>
<p>
  <strong>状态:</strong>
  <%= show_disabled(@agent.disabled?) %>
</p>
<p>
  <strong>市场部联系人:</strong>
  <%= @agent.business_contact %>
</p>
<p>
  <strong>市场部联系方式:</strong>
  <%= @agent.business_phone %>
</p>
<p>
  <strong>财务部联系人:</strong>
  <%= @agent.finance_contact %>
</p>
<p>
  <strong>财务部联系方式:</strong>
  <%= @agent.finance_phone %>
</p>
<p>
  <strong>操作员姓名:</strong>
  <%= @agent.admin.name %>
</p>
<p>
  <strong>操作员用户名:</strong>
  <%= @agent.admin.username %>
</p>
<p>
  <strong>操作员邮箱:</strong>
  <%= @agent.admin.email %>
</p>
<p>
  <%= link_to "修改", edit_agent_path(@agent) %> |
  <%= link_to "旅行社列表", agents_path %>|
  <%= link_to "返回", "#", :onclick => "history.back(); return false;" %>
</p>
