<%= simple_form_for @ticket do |f| %>
    <fieldset class="inputs">
      <%= f.input :name %>
      <%= f.simple_fields_for :public_rates do |rf| %>
          <div class="right75" style="font-size:16px; font-weight:bold;"> <%= rf.object.season.name %></div>
          <%= rf.input :adult_price, :as => :integer ,:required => true %>
          <%= rf.input :child_price, :as => :integer ,:required => true%>
          <%= rf.input :season_id, :as => :hidden %>
      <% end %>
    </fieldset>

    <fieldset class="buttons">
      <%= f.button :submit, @ticket.new_record? ? "新增门票" : "修改门票" %>
    </fieldset>
<% end %>
