<% title "门票及门市价" %>

<%= button_to_link "新建门票", new_ticket_path, :class=> "new_button"%>

<table>
  <tr>
    <th>名称</th>
    <% for season in @spot.seasons %>
        <th><%= season.name %></th>
    <% end %>
    <th>操作</th>
  </tr>
  <% for ticket in @tickets %>
      <tr class=<%= cycle("even", "odd") %>>
        <td><%= ticket.name %></td>
        <% for season in @spot.seasons %>
            <td>
              <%= raw(show_public_rate(ticket.public_rate_for(season.name))) %>
            </td>
        <% end %>
        <td><%= link_to "修改", edit_ticket_path(ticket) %>
          <%= link_to "删除", ticket, :confirm => '你确认删除吗?', :method => :delete %></td>
      </tr>
  <% end %>
</table>

