<% title "未开通预订旅行社列表" %>
<div id="search">
  <%= simple_form_for @search, :url =>spot_agents_path do |f| %>
      <fieldset class="inputs">
        <%= f.input :name_contains, :label => "旅行社名称", :required => false %>
      </fieldset>
      <fieldset class="buttons">
        <%= f.button :submit, :value => "查询" %>
      </fieldset>
  <% end %>
</div>
共找到<%= @agents.total_count %>条记录
<%= paginate @agents %>

<table>
  <tr>
    <th>名称</th>
    <th>市场部联系人</th>
    <th>市场部联系方式</th>
    <th>财务部联系人</th>
    <th>财务部联系人</th>
    <th>操作员姓名</th>
    <th>状态</th>
    <th colspan="2">操作</th>
  </tr>
  <% for agent in @agents %>
      <tr>
        <td><%= link_to agent.name, spot_agent_path(agent) %></td>
        <td><%= agent.business_contact %></td>
        <td><%= agent.business_phone %></td>
        <td><%= agent.finance_contact %></td>
        <td><%= agent.finance_phone %></td>
        <td><%= agent.operator.name %></td>
        <td><%= show_disabled agent.disabled %></td>
        <td><%= link_to "直接开通预订", new_rfp_path(:agent_id => agent) %></td>
      </tr>
  <% end %>
</table>
