<% title "用户" %>

<% title "用户" %>

<table class="show_table">
  <tr>
    <td class="textright">用户名</td>
    <td class="textleft"><%= @user.username %> </td>
    <td class="textright">姓名</td>
    <td class="textleft"><%= @user.name %></td>
  </tr>
  <tr>
    <td class="textright">用户角色</td>
    <td class="textleft"><%= @user.role.name %> </td>
    <td class="textright">邮箱</td>
    <td class="textleft"><%= @user.email %></td>
  </tr>
</table>

<div class="bottom_links">
  <%= button_to_link "修改", edit_agent_user_path(@user) %>
  <%= button_to_link "用户列表", agent_users_path %>
</div>
