<%= simple_form_for @reservation , :name => "reservation", :url => (@reservation.new_record? ? reservations_path : reservation_path(@reservation)) do |f| %>

    <%= f.input :spot_id, :as => :hidden  %>
    <%= f.input :ticket_name, :as => :hidden %>
    <%= f.input :child_sale_price, :as => :hidden %>
    <%= f.input :child_purchase_price, :as => :hidden %>
    <%= f.input :adult_sale_price, :as => :hidden %>
    <%= f.input :adult_purchase_price, :as => :hidden %>
    <%= f.input :adult_price, :as => :hidden %>
    <%= f.input :child_price, :as => :hidden %>
    <%= f.input :date, :as => :hidden %>
    <div class="right75">景区 <%= f.object.spot.name %></div>
    <div class="right75">门票 <%= f.object.ticket_name %></div>
    <div class="right75">日期 <%= f.object.date %></div>
    <%= f.input :adult_ticket_number, :as => :integer %>
    <%= f.input :child_ticket_number, :as => :integer %>
    <%= f.input :type, :as => :hidden %>
    <%= f.input :contact %>
    <%= f.input :phone %>
    <%= f.submit %>
<% end %>
