<% title "门票预订" %>

<%= simple_form_for @reservation do |f| %>

    <%= f.input :spot_id, :as => :hidden  %>
    <%= f.input :ticket_name, :as => :hidden %>
    <%= f.input :child_sale_price, :as => :hidden %>
    <%= f.input :child_purchase_price, :as => :hidden %>
    <%= f.input :adult_sale_price, :as => :hidden %>
    <%= f.input :adult_purchase_price, :as => :hidden %>
    <%= f.input :date, :as => :hidden %>
    <div class="right75">景区 <%= f.object.spot.name %></div>
    <div class="right75">门票 <%= f.object.ticket_name %></div>
    <div class="right75">日期 <%= f.object.date %></div>
    <div class="right75">成人价 <%= f.object.adult_sale_price %></div>
    <div class="right75">儿童价 <%= f.object.child_sale_price %></div>
    <%= f.input :adult_ticket_number, :as => :integer%>
    <%= f.input :child_ticket_number, :as => :integer%>
    总价<div id="total_price_text"></div>
    <%= f.input :total_price, :as => "hidden"%>
    <%= f.input :type, :as => :hidden %>
    <%= f.input :contact %>
    <%= f.input :phone %>
    <%= f.submit %>
<% end %>

<p><%= link_to "返回列表", reservations_path %></p>
