<% title "门票预订" %>

<div id="search">
  <%= form_tag search_reservations_path do %>
      <fieldset class="inputs">
        <table class="search_table">
          <tr>
            <td>景区名称
              <%= text_field_tag :spot_name, params[:spot_name] %>
            </td>
            <td>城市名
              <%= text_field_tag :city_name, params[:city_name], :id => "city_id" %>
            </td>
            <td colspan="2">
              <fieldset class="buttons">
                <%= submit_tag "查询" %>
              </fieldset>
            </td>
          </tr>
          <tr>
            <td>入园日期
              <%= text_field_tag :date, params[:date], :class=>"book_datepicker" %>
            </td>
            <td></td>
          </tr>
        </table>
      </fieldset>
  <% end %>
</div>

<% if @agent_prices %>

    <div class="result_count">共找到<%= @agent_prices.total_count %>条记录</div>

    <%= paginate @agent_prices %>
    <table>
      <tr>
        <th>景区名称</th>
        <th>门票名称</th>
        <th>价格名称(结算方式)</th>
        <th colspan="4">销售价/(结算价)</th>
        <th>操作</th>
      </tr>
      <% if current_user.is_spot_price_all %>
          <%= render 'new_all_price_table' %>
      <% elsif current_user.has_spot_team_price %>
          <%= render 'new_team_price_table' %>
      <% elsif current_user.has_spot_individual_price %>
          <%= render 'new_individual_price_table' %>
      <% end %>
    </table>

<% end %>
