<% title "门票预订" %>

<div id="search">
  <%= form_tag search_reservations_path do %>
      <fieldset class="inputs">
        <label for="spot_name">景区名称</label>
        <%= text_field_tag :spot_name, params[:spot_name] %>
        <label for="city_name">城市名</label>
        <%= text_field_tag :city_name, params[:city_name] %>
        <label for="date">日期</label>
        <%= text_field_tag :date, params[:date], :class=>"book_datepicker" %>
      </fieldset>
      <fieldset class="buttons">
        <%= submit_tag "查询" %>
      </fieldset>
  <% end %>
</div>

<% if @agent_prices %>

    共找到<%= @agent_prices.total_count %>条记录
    <%= paginate @agent_prices %>

    <table>
      <% for agent_price in @agent_prices %>
          <tr id="agent_price<%= agent_price.id %>_row">
            <td>景区名称</td>
            <td><%= agent_price.spot.name %></td>
            <td>所在城市</td>
            <td><%= agent_price.spot.cities.map(&:name).join(",") %></td>
          </tr>
          <% for ticket in agent_price.spot.tickets %>
              <% price = agent_price.price_for(@date) %>
              <tr>
                <td rowspan="2">门票名称</td>
                <td rowspan="2"><%= ticket.name %></td>
                <td>散客价</td>
                <td>成人价</td>
                <td><%= show_individual_adult_price(price, ticket.id) %></td>
                <td>儿童价</td>
                <td><%= show_individual_child_price(price, ticket.id) %></td>
                <td>
                  <% if (show_individual_adult_price(price, ticket.id)!='--') %>
                      <%= link_to "预订", new_individual_reservations_path(:ticket => ticket, :agent_price => agent_price, :date =>params[:date]), :method => :get %>
                  <% end %></td>
              </tr>

              <tr>
                <td>团队价</td>
                <td>成人价</td>
                <td><%= show_team_adult_price(price, ticket.id) %></td>
                <td>儿童价</td>
                <td><%= show_team_child_price(price, ticket.id) %></td>
                <td>
                  <% if (show_team_adult_price(price, ticket.id)!='--') %>
                      <%= link_to "预订", new_team_reservations_path(:ticket => ticket, :agent_price => agent_price, :date =>params[:date]), :method => :get %>
                  <% end %></td>
              </tr>
          <% end %>
      <% end %>
    </table>

<% end %>
