<% title "#{@reservation.agent.name}订单明细" %>
<div class="print">
<p>
  <strong>订单号:</strong>
  <%= @reservation.no %>
</p>
<p>
  <strong>团号:</strong>
  <%= @reservation.group_no %>
</p>
<p>
  <strong>景区名称:</strong>
  <%= @reservation.spot.name %>
</p>
<p>
  <strong>门票:</strong>
  <%= @reservation.ticket_name %>
</p>
<p>
  <strong>种类:</strong>
  <%= show_reservation_type(@reservation) %>
</p>
<p>
  <strong>入园日期:</strong>
  <%= @reservation.date %>
</p>
<p>
  <strong>预定日期:</strong>
  <%= date_format(@reservation.created_at) %>
</p>
<p>
  <strong>状态:</strong>
  <%= @reservation.status_name %>
</p>
<p>
  <strong>成人价格(销售价/(结算价)):</strong>
  <%= show_reservation_adult_price(@reservation) %>
</p>
<p>
  <strong>儿童价格(销售价/(结算价)):</strong>
  <%= show_reservation_child_price(@reservation) %>
</p>
<p>
  <strong>成人票数量:</strong>
  <%= @reservation.adult_ticket_number %>
</p>
<p>
  <strong>儿童票数量:</strong>
  <%= @reservation.child_ticket_number %>
</p>
<p>
  <strong>成人票实际数量:</strong>
  <%= @reservation.adult_true_ticket_number %>
</p>
<p>
  <strong>儿童票实际数量:</strong>
  <%= @reservation.child_true_ticket_number %>
</p>
<p>
  <strong>总价(销售价/(结算价)):</strong>
  <%= show_reservation_total_price(@reservation) %>
</p>
<p>
  <strong>支付方式:</strong>
  <%= show_reservation_payment_method(@reservation) %>
</p>
<p>
  <strong>联系人:</strong>
  <%= @reservation.contact %>
</p>
<p>
  <strong>联系方式:</strong>
  <%= @reservation.phone %>
</p>
</div>
<p>
  <%= link_to "返回列表", reservations_path %>
  <!--<a href="#" onclick="window.print();return false;">打印</a>-->
  <%= link_to "打印", print_reservation_path(@reservation),{"data-popup" => true} %>
</p>
