<% title "角色列表" %>

<table class="formtable01">
  <tr class="formtable01">
    <td class="formtable01" style="text-align:right; ">
      <%= button_to "新建角色", new_agent_role_path, {:class=> "btn", :style=>"float:none;", :method => :get} %></td>
  </tr>
</table>

<table>
  <tr>
    <th>名称</th>
    <th>操作</th>
  </tr>
  <% for role in @roles %>
      <tr id="role<%= role.id %>_row" class=<%= cycle("trwrite", "trgray") %>>
        <td><%= role.name %></td>
        <td><%= link_to "修改", edit_agent_role_path(role) %>
           <%= link_to "删除", agent_role_path(role), :confirm => '你确认删除吗?', :method => :delete %>
        </td>
      </tr>
  <% end %>
</table>

