<% title "角色列表" %>

<%= button_to_link "新建角色", new_role_path, :class=> "new_button"%>

<table>
  <tr>
    <th>名称</th>
    <th>操作</th>
  </tr>
  <% for role in @roles %>
      <tr id="role<%= role.id %>_row" class=<%= cycle("even", "odd") %>>
        <td><%= role.name %></td>
        <td>
          <%= link_to "修改", edit_role_path(role) %>
          <%= link_to "删除", role_path(role), :confirm => '你确认删除吗?', :method => :delete %>
        </td>
      </tr>
  <% end %>
</table>

