<%= simple_form_for @rfp do |f| %>
    <fieldset class="inputs">
      <%= f.input :agent_id, :as => :hidden %>
      <div class="right75" style="font-weight:bold;">旅行社 <%= @rfp.agent.name %></div>
      <%= f.association :agent_price, :collection => @rfp.spot.agent_prices, :required => true %>
      <%= f.input :team_payment_method, :collection => @rfp.spot.available_payment_methods,
                  :label_method => :first, :value_method => :last,
                  :as => :select, :label => "团队结算方式", :required => true, :include_blank => false %>
      <%= f.input :individual_payment_method, :collection => @rfp.spot.available_payment_methods,
                  :label_method => :first, :value_method => :last,
                  :as => :select, :label => "散客结算方式", :required => true, :include_blank => false %>
    </fieldset>
    <fieldset class="buttons">
      <%if @rfp.new_record? %>
        <%= f.button :submit, "开通预订", :confirm => "确认开通预订？" %>
      <%else %>
        <%= f.button :submit, "修改" %>
      <% end %>
    </fieldset>
<% end %>
