<% title "配置价格关联" %>

<%= simple_form_for @rfp, :url => accept_rfp_path(@rfp), :method => :put do |f| %>
    旅行社名称<%= f.object.agent.name %><br/>
    <%= f.association :agent_price %>
    <p><%= f.submit %></p>
<% end %>

<p>
  <%= link_to "返回列表", rfps_path %>
</p>
