<% title "配置预订" %>

<%= simple_form_for @rfp, :url => accept_rfp_path(@rfp), :method => :put do |f| %>
    <fieldset class="inputs">
      <div class="right75" style="font-weight:bold;">旅行社<%= f.object.agent.name %></div>
      <%= f.association :agent_price, :collection => @rfp.spot.agent_prices, :include_blank => false %>
      <%= f.input :team_payment_method, :collection => [["门口现付", "poa"], ["挂账", "prepay"]],
                  :label_method => :first, :value_method => :last,
                  :as => :select, :label => "团队票结算方式", :required => false, :include_blank => false %>
      <%= f.input :individual_payment_method, :collection => [["门口现付", "poa"], ["挂账", "prepay"]],
                  :label_method => :first, :value_method => :last,
                  :as => :select, :label => "散客票结算方式", :required => false, :include_blank => false %>
    </fieldset>
    <fieldset class="buttons">
      <%= f.button :submit %>
    </fieldset>
<% end %>
