<% title "已开通预订旅行社列表" %>
<div id="search">
  <%= simple_form_for @search do |f| %>
      <fieldset class="inputs">
        <table style="border:none;">
          <tr style="border:none;">
            <td><%= f.input :agent_name_contains, :label => "旅行社名称", :required => false %></td>
            <td></td>
            <td>
              <fieldset class="buttons">
                <%= f.button :submit, :value => "查询" %>
              </fieldset>
            </td>
          </tr>
        </table>
      </fieldset>
  <% end %>
</div>

<table class="formtable01">
  <tr class="formtable01">
    <td class="formtable01" style="text-align:right; ">
      <%= button_to "查询未开通预订旅行社", spot_agents_path, {:class=> "btn", :style=>"float:none;", :method => :get} %></td>
  </tr>
</table>

<table class="formtable">
  <tr class="formtable">
    <td class="formtable">共找到<%= @rfps.total_count %>条记录</td>
  </tr>
</table>

<%= paginate @rfps %>

<table>
  <tr>
    <th>旅行社</th>
    <th>价格</th>
    <th>市场部联系人</th>
    <th>市场部联系方式</th>
    <th>财务部联系人</th>
    <th>财务部联系人</th>
    <th>散客票支付方式</th>
    <th>团队票支付方式</th>
    <th>操作</th>
  </tr>
  <% for rfp in @rfps %>
      <tr class=<%= cycle("trwrite", "trgray") %>>
        <td><%= link_to rfp.agent.name, spot_agent_path(rfp.agent) %></td>
        <td><%= rfp.agent_price.name %></td>
        <td><%= rfp.agent.business_contact %></td>
        <td><%= rfp.agent.business_phone %></td>
        <td><%= rfp.agent.finance_contact %></td>
        <td><%= rfp.agent.finance_phone %></td>
        <td><%= show_payment_method(rfp.individual_payment_method) %></td>
        <td><%= show_payment_method(rfp.team_payment_method) %></td>
        <td>
          <%= link_to "修改", edit_rfp_path(rfp) %>
          <%= link_to "删除", rfp, :confirm => '你确认删除吗?', :method => :delete %>
        </td>
      </tr>
  <% end %>
</table>


