<% title "Rfp" %>

<p>
  <strong>Agent:</strong>
  <%= @rfp.agent_id %>
</p>
<p>
  <strong>Spot:</strong>
  <%= @rfp.spot_id %>
</p>
<p>
  <strong>Agent Price:</strong>
  <%= @rfp.agent_price_id %>
</p>

<p>
  <%= link_to "Edit", edit_rfp_path(@rfp) %> |
  <%= link_to "Destroy", @rfp, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", rfps_path %>
</p>
