<% title "景区" %>

<p>
  <strong>景区名称:</strong>
  <%= @spot.name %>
</p>
<p>
  <strong>景区编码:</strong>
  <%= @spot.code %>
</p>
<p>
  <strong>所在城市:</strong>
  <%= @spot.city_names %>
</p>
<p>
  <strong>描述:</strong>
  <%= @spot.description %>
</p>
<p>
  <strong>地址:</strong>
  <%= @spot.address %>
</p>
<p>
  <strong>交通信息:</strong>
  <%= @spot.traffic %>
</p>
<p>
  <strong>市场部联系人:</strong>
  <%= @spot.business_contact %>
</p>
<p>
  <strong>市场部联系方式:</strong>
  <%= @spot.business_phone %>
</p>
<p>
  <strong>财务部联系人:</strong>
  <%= @spot.finance_contact %>
</p>
<p>
  <strong>财务部联系方式:</strong>
  <%= @spot.finance_phone %>
</p>

<p>
  <%= link_to "返回", "#", :onclick => "history.back(); return false;" %>
</p>
