<% title "景区" %>

<table class="show_table">
  <tr>
    <td class="textright">景区名称</td>
    <td class="textleft"><%= @spot.name %> </td>
    <td class="textright">景区编码</td>
    <td class="textleft"><%= @spot.code %></td>
  </tr>

  <tr>
    <td class="textright">市场部联系人</td>
    <td class="textleft"><%= @spot.business_contact %></td>
    <td class="textright">市场部联系方式</td>
    <td class="textleft"><%= @spot.business_phone %></td>
  </tr>

  <tr>
    <td class="textright">财务部联系人</td>
    <td class="textleft"><%= @spot.finance_contact %></td>
    <td class="textright">财务部联系方式</td>
    <td class="textleft"><%= @spot.finance_phone %></td>
  </tr>

  <tr>
    <td class="textright">地址</td>
    <td class="textleft"><%= @spot.address %></td>
    <td class="textright">所在城市</td>
    <td class="textleft"><%= @spot.city_names %></td>
  </tr>

  <tr>
    <td class="textright">交通信息</td>
    <td class="textleft" colspan="3"><%= @spot.traffic %></td>

  </tr>

  <tr>

    <td class="textright">描述</td>
    <td class="textleft" colspan="3"> <%= @spot.description %></td>
  </tr>

</table>

<div class="bottom_links">
  <%= back_button %>
</div>

