<table>
  <tr>
    <td>订单总数</td>
    <td>成人总数</td>
    <td>儿童总数</td>
    <td>总价</td>
  </tr>
  <tr class="even">
    <td><%= @table.count_sum %></td>
    <td><%= @table.adult_ticket_sum.to_i %></td>
    <td><%= @table.child_ticket_sum.to_i %></td>
    <td><%= @table.price_sum.to_i %></td>
  </tr>
</table>

<div class="bottom_links">
  <%= button_to_new_window "PDF下载", reports_generate_agent_checkin_path(:format => "pdf", :type => params[:type],
                                                                        :year => params[:year], :month => params[:month], :day => params[:day], :week => params[:week]) %>
  <%= button_to_new_window "Excel下载", reports_generate_agent_checkin_path(:format => "xls", :type => params[:type],
                                                                        :year => params[:year], :month => params[:month], :day => params[:day], :week => params[:week]) %>
</div>