<table>
  <tr>
    <td>旅行社名称</td>
    <td>订单号</td>
    <td>团号</td>
    <td>订单属性</td>
    <td>人数</td>
    <td>单价</td>
    <td>总价</td>
  </tr>
  <% @table.each do |r| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%= r.agent.name %></td>
        <td><%= r.no %></td>
        <td><%= r.group_no %></td>
        <td><%= show_reservation_type(r) %></td>
        <td><%= r.adult_ticket_number %>/<%= r.child_ticket_number %></td>
        <td><%= show_reservation_adult_price(r) %></td>
        <td><%= show_reservation_book_total_price(r) %></td>
      </tr>
  <% end %>
  <tr>
    <td>总计</td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= @total_adult_ticket_number %>/<%= @total_child_ticket_number %></td>
    <td></td>
    <td><%= @total_book_price %>/<%= @total_book_purchase_price %></td>
  </tr>
</table>

<div class = "bottom_links">
<%= button_to_new_window "PDF下载", reports_generate_spot_month_reservations_path(:format => "pdf", :type => params[:type],
                                                                                :year => params[:year], :month => params[:month], :day => params[:day], :week => params[:week]) %>
</div>


