<%= render 'report_paginate' %>
<table>
  <%= render 'report_detail' %>
  <tr>
    <td>订单总数</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>预订成人票</td>
    <td>预订儿童票</td>
    <td>实际成人票</td>
    <td>实际儿童票</td>
    <td>总价</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr class="even">
    <td><%= @table.count_sum %></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><%= @table.adult_ticket_sum.to_i %></td>
    <td><%= @table.child_ticket_sum.to_i %></td>
    <td><%= @table.adult_true_ticket_sum.to_i %></td>
    <td><%= @table.child_true_ticket_sum.to_i %></td>
    <td><%= @table.price_sum.to_i %></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<% if @reservationsTable.present? %>
    <div class="bottom_links">
      <%= button_to_new_window "PDF下载", reports_generate_agent_output_path(:format => "pdf", :type => params[:type],
                                                                           :year => params[:year], :month => params[:month],
                                                                           :day => params[:day], :week => params[:week],
                                                                           :start_report_time => params[:start_report_time],
                                                                           :end_report_time => params[:end_report_time],
                                                                           :spot_name => params[:spot_name],
                                                                           :group_no => params[:group_no],
                                                                           :username => params[:username],
                                                                           :userRealName => params[:userRealName],
                                                                           :reservation_no => params[:reservation_no],
                                                                           :ticket_name => params[:ticket_name],
                                                                           :reservation_type => params[:reservation_type],
                                                                           :reservation_status => params[:reservation_status],
                                                                           :paid_status => params[:paid_status],
                                                                           :payment_method => params[:payment_method]
      ) %>
      <%= button_to_new_window "Excel下载", reports_generate_agent_output_path(:format => "xls", :type => params[:type],
                                                                             :year => params[:year], :month => params[:month],
                                                                             :day => params[:day], :week => params[:week],
                                                                             :start_report_time => params[:start_report_time],
                                                                             :end_report_time => params[:end_report_time],
                                                                             :spot_name => params[:spot_name],
                                                                             :group_no => params[:group_no],
                                                                             :username => params[:username],
                                                                             :userRealName => params[:userRealName],
                                                                             :reservation_no => params[:reservation_no],
                                                                             :ticket_name => params[:ticket_name],
                                                                             :reservation_type => params[:reservation_type],
                                                                             :reservation_status => params[:reservation_status],
                                                                             :paid_status => params[:paid_status],
                                                                             :payment_method => params[:payment_method]
      ) %>
    </div>
<% end %>