<div id="search">
  <%= form_tag reports_output_for_date_span_path do %>
      <fieldset class="inputs">

        <label for="type">报表类型</label>
        <%= select_tag :type, options_for_select([["日", "day"], ["周", "week"], ["月", "month"]], params[:type]), :id =>"output_report_type" %>
        <span>年 <%= select_tag :year, options_for_select([[2011, 2011],[2010,2010]], params[:year]) %></span>
        <span>月 <%= select_tag :month, options_for_select([[2011, 2011]], params[:month]) %></span>
        <span>日 <%= select_tag :day, options_for_select([[2011, 2011]], params[:day]) %></span>
        <span>周 <%= select_tag :week, options_for_select([[2011, 2011]], params[:week]) %></span>
      </fieldset>
      <fieldset class="buttons">
        <%= submit_tag "查询" %>
      </fieldset>
  <% end %>
</div>
<%= raw(@html) %>