<table>
    <tr>
        <td>订单总数</td>
        <td>成人总数</td>
        <td>儿童总数</td>
        <td>总价</td>
    </tr>
    <tr class="<%= cycle("trwrite","trgray") %>">
        <td><%= @table.count_sum %></td>
        <td><%= @table.adult_ticket_sum.to_i %></td>
        <td><%= @table.child_ticket_sum.to_i %></td>
        <td><%= @table.price_sum.to_i %></td>
    </tr>
</table>

 <table class="formtable01">
        <tr class="formtable01">
            <td class="formtable01" style="text-align:center; ">
            <%= button_to_new_window "PDF下载", reports_spot_checkin_path(:format => "pdf",:type => params[:type],
               :year => params[:year],:month => params[:month],:day => params[:day],:week => params[:week]),{:class => "btn", :style=> "float:none;"}  %>
            </td>
        </tr>
</table>


