<div id="navigation">
  <ul>
    <% if current_user && (current_user.type == "SystemAdmin") %>
        <li class="menu2" onMouseOver="this.className='menu1'" onMouseOut="this.className='menu2'">
          <div class="list">
            <a href="#">景区管理</a>
            <br/>
            <a href="<%= new_spot_path %>">新建景区</a><br/>
            <a href="<%= spots_path %>">景区查询</a><br/>
          </div>
        </li>
        <li class="menu2" onMouseOver="this.className='menu1'" onMouseOut="this.className='menu2'">
          <div class="list">
            <a href="#">旅行社管理</a>
            <br/>
            <a href="<%= new_agent_path %>">新建旅行社</a><br/>
            <a href="<%= agents_path %>">旅行社查询</a><br/>
          </div>
        </li>
        <li class="menu2" onMouseOver="this.className='menu1'" onMouseOut="this.className='menu2'">
          <div class="list">
            <a href="#">合作管理</a>
            <br/>
            <a href="<%= all_rfps_path %>">合作列表</a><br/>
          </div>
        </li>
        <li class="menu2" onMouseOver="this.className='menu1'" onMouseOut="this.className='menu2'">
          <div class="list">
            <a href="#">订单管理</a>
            <br/>
            <a href="<%= all_reservations_path %>">订单列表</a><br/>
          </div>
        </li>
    <% end %>
    <% if current_user && (current_user.type == "SpotAdmin" || current_user.type == "SpotOperator" )  %>
        <li class="menu2" onMouseOver="this.className='menu1'" onMouseOut="this.className='menu2'">
          <div class="list">
            <a href="#">基础设置&nbsp;</a>
            <br/>
            <a href="<%= seasons_path %>">淡旺季设置</a><br/>
            <a href="<%= tickets_path %>">门票设置</a><br/>
            <a href="<%= agent_prices_path %>">旅行社价格</a><br/>
          </div>
        </li>
        <li class="menu2" onMouseOver="this.className='menu1'" onMouseOut="this.className='menu2'">
          <div class="list">
            <a href="#">用户管理&nbsp;</a>
            <br/>
            <a href="<%= new_user_path %>">新建用户</a><br/>
            <a href="<%= users_path %>">用户列表</a><br/>
          </div>
        </li>
         <li class="menu2" onMouseOver="this.className='menu1'" onMouseOut="this.className='menu2'">
          <div class="list">
            <a href="#">旅行社列表&nbsp;</a>
            <br/>
            <a href="<%= rfps_path %>">已开通预订旅行社</a><br/>
            <a href="<%= applied_spot_agents_path %>">已申请待开通旅行社</a><br/>
            <a href="<%= spot_agents_path %>">未开通预订旅行社</a><br/>
          </div>
        </li>
        <li class="menu2" onMouseOver="this.className='menu1'" onMouseOut="this.className='menu2'">
          <div class="list">
            <a href="#">订单管理</a>
            <br/>
            <a href="<%= spot_reservations_path %>">订单列表</a><br/>
            <a href="<%= today_spot_reservations_path %>">当日订单</a><br/>
          </div>
        </li>

         <li class="menu2" onMouseOver="this.className='menu1'" onMouseOut="this.className='menu2'">
          <div class="list">
            <a href="#">报表</a>
            <br/>
            <a href="<%= reports_output_for_date_span_path %>">产量报表</a><br/>
          </div>
        </li>
    <% end %>

    <% if current_user && current_user.type == "AgentOperator" %>
        <li class="menu2" onMouseOver="this.className='menu1'" onMouseOut="this.className='menu2'">
          <div class="list">
            <a href="#">景区列表&nbsp;</a>
            <br/>
            <a href="<%= agent_rfps_path %>">可预订景区</a><br/>
            <a href="<%= applied_agent_spots_path %>">已申请预订景区</a><br/>
            <a href="<%= agent_spots_path %>">未开通预订景区</a><br/>
          </div>
        </li>
        <li class="menu2" onMouseOver="this.className='menu1'" onMouseOut="this.className='menu2'">
          <div class="list">
            <a href="#">订单管理</a>
            <br/>
            <a href="<%= new_reservation_path %>">新建订单</a><br/>
            <a href="<%= reservations_path %>">订单列表</a><br/>
          </div>
        </li>
    <% end %>


  </ul>
</div>

